*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(248, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 56rem;
    height: 100rem;
    padding: 10px;
    border: .2rem solid black;
}

.sub{
    text-decoration: underline;
}

.title{
    text-decoration: underline;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

.posts{
    padding: 40px 10px 10px 10px;
    display: grid;
    column-gap: 15px;
    row-gap: 40px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6,1fr);
}
.post{
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(139, 139, 139);
    padding: 20px;
}
.glob{
    color: rgb(25, 25, 255);
    font-weight: 700;
    margin-bottom: 20px;
}
.glob1{
    color: rgb(6, 255, 60);
    font-weight: 700;
    margin-bottom: 20px;
}
.exp{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}
.date{
    color: rgb(172, 172, 172);
    margin-bottom: 20px!important;
}
p{
    margin-bottom: 60px;
}
a{
    color: rgb(25, 25, 255);
    text-align: end;
}

@media(min-width:768px){
    .container{
        width: 56rem;
        height: 60rem;
    }
    .posts{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .post{
        width: 26rem;
        height: 15rem;
        background-color: rgb(255, 255, 255);
        border: 5px solid rgb(139, 139, 139);
        padding: 20px;
    }
    .glob{
        color: rgb(25, 25, 255);
        font-weight: 700;
        margin-bottom: 20px;
    }
    .glob1{
        color: rgb(6, 255, 60);
        font-weight: 700;
        margin-bottom: 20px;
    }
    .exp{
        font-family: 'Times New Roman', Times, serif;
        font-weight: 900;
    }
    .date{
        color: rgb(212, 212, 212);
        margin-bottom: 20px!important;
    }
    p{
        margin-bottom: 60px;
    }
    a{
        color: rgb(25, 25, 255);
        text-align: end;
    }
}